* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  text-align: center;
  text-align: center;
}
header .logo {
  width: 10%;
  height: auto;
  margin-top: 70px;
}
header .painel {
  width: 100%;
  height: 500px;
}
nav {
  font-family: "Orbitron", sans-serif;
}
body {
  background-color: rgb(176, 242, 54);
  display: block;
}
header {
  background-image: url("../img/library.jpg");
  background-position: 0px -220px;
  background-position-y: top;
}
nav div {
  margin-top: 100px;
}
#sex_masculino,
#sex_feminino {
  margin-left: 161px !important;
  position: relative;
}
#formulario {
  background-color: white;
  margin-top: -34px;
  margin-bottom: -50px;
}
#send {
  margin-top: -35px;
  margin-left: 34px;
}
#form1 {
  display: inline-flex;
}

#sex {
  margin-left: 100px;
}
#p1 {
  margin-left: 20px;
}
